body{
    background-color: rgb(241, 243, 206);
}


.video{

    

   

        margin-left:150px;
        margin-top:150px;


}


.duki{

    
        font-size:30px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        margin-right: 47px;
        text-decoration:underline
    
       
    
}
